*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: Roboto,sans-serif;
}
.mancity-wed{
    width: 100%;
}
.grid{
    width: 1024px;
    margin: auto;
}

.mancity-header{
    background-color: #98c5e9;
    height: 96px;
}

.mancity-navbar{
    display: flex;
    align-items: center;
    height: 96px;
    padding: 0 24px;
}

.mancity-logo{
    width: 67px;
    height: 67px;
}

.mancity-sidebar{

}
.mancity-list{
    list-style: none;
}
.mancity-item{
    display: inline-block;
    color: #001838;
    font-size: 20px;
    font-weight: 900;
    margin-left: 10px;
    position: relative;
}
.mancity-item i{
    position: absolute;
    top: 25px;
    right: 43%;
}
.FIXTURES{
    width: 200px;
    background-color: #fff;
    position: absolute;
    top: 50px;
    right: -50%;
    padding: 24px 0;
    border: 1px solid #999; display: none;

}
.TICKETS{
    right: -70%;
}
.MORE{
    left: -70px;
}
.FIXTURES p{
    font-weight: 700;
    text-align: center;
    padding: 10px;
    color: 
    #001838;
}
.FIXTURES p:hover{
    background-color: #76e1ff;
}
.mancity-item:hover{
    text-decoration: underline;
    cursor: pointer;
}
.mancity-item:hover .FIXTURES{
    display: block;
}

.mancity-user{
    display: flex;
    justify-content: end;
    margin-left: auto;
    font-size: 15px;
    font-weight: 500;
}
.mancity-user-language{
    padding: 0 12px;
    border-right: 1px solid #6caee4;
    display: flex;
    align-items: center;
}
.mancity-user-language i{
    font-size: 18px;
    margin-right: 8px;
}
.mancity-user-user{
    padding: 0 12px;
    border-right: 1px solid #6caee4;
    display: flex;
    align-items: center;
    margin-right: 10px;
}
.mancity-user-user i{
    font-size: 23px;
    margin-left: 8px;

}

.mancity-body{
    background-color: #fff;
}
.news{
    padding:0 25px ;
}
.new-main{
    margin: 40px 0;
    display: flex;
    box-shadow: 0 0 4px 5px rgb(212, 212, 212);
}
.new-main:hover {
    cursor: pointer;
   
}
.new-main:hover .content-img h2{
    text-decoration: underline;
    text-decoration-color: #3BD6FF;
}
.content-img{
    background-color: #001837;
    width: calc(100% - 645px);
    height: 364px;
    padding: 18px;
}
.content-img P{
    color: #32BAE1;
    font-size: 17px;
    font-weight: 700;
}
.content-img h2{
    color: #fff;
    margin-top: 10px;
    font-size: 25px;
}
.content-img  i{
    display: block;
    color: #32BAE1;
    font-size: 68px;
    margin-top:170px;
}
.img-main{
    width: 645px;
    height: 364px;
    background-size: cover;
    background-image:url(https://www.mancity.com/meta/media/g3phjfhi/match-highlights-wide.png?width=950&height=536&mode=crop) ;
}

.mancity-footer{

}
.new-bottom{
    display: flex;
}
.new-bottom-left{
    width: 66.7%;
}
.new-bottom-right{
    width: 33.3%;
}
.new-bottom-left-top{
    display: flex;
    justify-content: space-between;
}
.new-bottom-left-top img{
    width: 100%;
}
.new-bottom-left-top span{
    width: 50%;
    margin-right: 20px;
    cursor: pointer;
}
.new-bottom-left-top span:hover .new-bottom-left-top span h4{
    text-decoration-line: underline;
    text-decoration-color: #999;
}
.new-bottom-left-top span h4{
    font-size: 19px;
    padding: 10px 0;
}
.new-bottom-left-top span p{
    color: rgb(173, 173, 173);
    font-size: 15px;
}
.new-bottom-left-bottom{

}